* {
	margin: 0;
}

html,
.app {
	background: linear-gradient(0deg, #8134af, #dd2a7b, #f58529);
	background-size: 600% 600%;

	-webkit-animation: AnimationName 27s ease infinite;
	-moz-animation: AnimationName 27s ease infinite;
	animation: AnimationName 27s ease infinite;
}

.app__header {
	background-color: white;
	object-fit: contain;
	padding: 20px;
	border-bottom: 1px solid lightgray;
	object-fit: contain;
	display: flex;
	justify-content: space-between;
}

.app__headerImage {
	object-fit: contain;
}

.app__posts {
	padding: 20px;
	display: grid;
	place-content: center;
}

.app__signup {
	display: flex;
	flex-direction: column;
	text-align: center;
}

@-webkit-keyframes AnimationName {
	0% {
		background-position: 51% 0%;
	}
	50% {
		background-position: 50% 100%;
	}
	100% {
		background-position: 51% 0%;
	}
}
@-moz-keyframes AnimationName {
	0% {
		background-position: 51% 0%;
	}
	50% {
		background-position: 50% 100%;
	}
	100% {
		background-position: 51% 0%;
	}
}
@keyframes AnimationName {
	0% {
		background-position: 51% 0%;
	}
	50% {
		background-position: 50% 100%;
	}
	100% {
		background-position: 51% 0%;
	}
}
